@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Open Sans', sans-serif;
}
header{
    display:flex;
    justify-content:space-around;
    align-items:center;
    position: fixed;
    z-index:80;
    background:#fff;
    width: 100%;
    padding:15px;
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.22);
}
header li, header a, header button, .side p, .side{
    color:#1D1929;
    text-decoration: none;
}
nav{
    display:flex;
    align-items:center;
    align-content: center;
}
.logo{
    cursor: pointer;
    width:200px;
    height:auto;
}
.hamburger{
    width:60px;
    height: auto;
}
.nav_links{
    font-weight:600;
    list-style: none;
    display: flex;
    justify-content: center;
}
.nav_links li{
    padding:0 18px;
    display: flex;
    justify-content: center;
    align-items:center;
}
.nav_links li a{
    font-size: 1.1rem;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
.nav_links li a:hover{
    color:#FF0F33;
}
.sign{
    color:white;
    outline:none;
    border:none;
    width:100px;
    background:#FF0F33;
    cursor: pointer;
    padding: 10px;
    border-radius:50px;
    transition: all 0.5s ease 0s;
    font-size: 18px;
}
.sign:hover{
    background-color:transparent;
    color: #FF0F33;
    border: 3px solid #FF0F33;
    border-radius:0px;
}
/* 
.side-nav{
    height: 100%;
    width: 0;
    position:fixed;
    z-index: 1;
    top:0;
    left:0;
    background:rgba(255,255,255,0.03);
    backdrop-filter: blur(16px);
    overflow-x:hidden;
    padding-top:60px;
    border-top-right-radius: 18px;
    transition: all 0.5s ease 0s;
}

.side-nav a{
    font-size: 1.2rem;
    padding:20px 10px 10px 40px;
    text-decoration: none;
    cursor: pointer;
    display: block;
    transition: all 0.3s ease 0s;
}
.side-nav a:hover{
    color:#EF5477;
}

.side-nav .btn-close{
    position:absolute;
    top:0;
    right:22px;
    font-size:36px;
    margin-left: 50px;
} */

#hero{
    height: 80vh;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
#hero > img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    width:70vw;
    padding-top: 30px;
}

.section__title{
    text-align: center;
    font-size:2.5rem;
    letter-spacing:1.5px;
    font-weight:700;
    padding-top:2rem;
    text-decoration: underline #FF0F33 6px;
    text-underline-offset:7px;
    color:#1D1929;
}

#about{
    height: 80vh;
    background:#F3F3F3;
}

#about > .content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    width: 90%;
}
#about > .content >img{
    width:25vw;
}
#about > .content >p{
    width:50%;
    color:#1D1929;
    text-align:center;
}

#blog{
    height: 80vh;
    background:#fff;
}
.blog_cards{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top:3rem;
}
.blog_card{
    width:25vw;
    color:#1D1929;
}
.blog_card .image_container{
    width:25vw;
    display: inline-block;
    overflow: hidden;
}
.blog_card .blog_image{
    width:25vw;
    transition: all 0.3s ease 0s;
    cursor: pointer;
}
.blog_card .blog_image:hover{
    transform:scale(1.1);
    -ms-transform:scale(1.1); /* IE 9 */
    -moz-transform:scale(1.1); /* Firefox */
    -webkit-transform:scale(1.1); /* Safari and Chrome */
    -o-transform:scale(1.1); /* Opera */
}
.blog_card > h4{
    padding-top:1rem;
    font-size:1.2rem;
}
.blog_card > p{
    font-size:0.9rem;
    font-style: italic;
}
#blog .more{
    text-align:center;
    padding-top:3rem;
}
#blog .more a{
    font-size:1.1rem;
    text-decoration: inherit;
    color:#1D1929;
    font-weight:400;
}
#blog .more a .bxs-right-arrow-circle{
    vertical-align:middle;
    font-size:2rem;
}
#blog .more a span{
    vertical-align:middle;
}

#team{
    height: 80vh;
    background:#F3F3F3;
}

#team > h4{
    text-align: center;
    padding:2rem;
    font-weight: 400;
    color:#1D1929;
    font-size:1.2rem;
}
.about_image {
    height: auto;
    width: 20rem;
}
.about_text{
    width:550px;
}
.main_about {
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.about_text h5{
    text-align:center;
    color:#FF0F33;
    font-size:25px;
    text-transform:capitalize;
    margin-bottom:25px;
    letter-spacing:2px;
}
.about_text p{
    text-align:center;
    color:#1D1929;
    font-size:18px;
    letter-spacing:1px;
    line-height:28px;
    margin-bottom: 45px;
}
.about_contact{
    text-align:center;
    letter-spacing:5px;
    font-size:30px;
}
.about_contact a{
    text-decoration: none;
    color:#FF0F33;
}

.about_text >p>a{
    text-decoration: none;
    color:#FF0F33;
    font-weight: 600;
}


@media screen and (max-width: 600px) {
    .about_text h5 {
        font-size: 18px;
    }

    .about_text p {
        font-size: 14px;
    }
}
@media only screen and (max-width:768px) {
    .about_image {
        height: auto;
        width: 14rem;
    }
}